[submodule "apps/desktop/python/ai-media-processor"]
	path = apps/desktop/python/ai-media-processor
	url = git@github.com:sakurakugu/ai-media-processor.git
[submodule "apps/desktop/python/minecraft-tool"]
	path = apps/desktop/python/minecraft-tool
	url = git@github.com:sakurakugu/minecraft-tool.git
