:root {
  --hue: 0;
  --selection-hue: 0;
  --el-color-primary: oklch(0.7 0.14 var(--hue));
  --el-color-primary-rgb: 200, 94, 131;
  --el-color-primary-light-3: oklch(0.78 0.13 var(--hue));
  --el-color-primary-light-5: oklch(0.84 0.1 var(--hue));
  --el-color-primary-light-7: oklch(0.88 0.08 var(--hue));
  --el-color-primary-light-8: oklch(0.94 0.06 var(--hue));
  --el-color-primary-light-9: oklch(0.98 0.03 var(--hue));
  --el-color-primary-dark-2: oklch(0.54 0.14 var(--hue));
  --el-color-primary-dark-8: oklch(0.34 0.1 var(--hue));
  --color-selection-bar: linear-gradient(to right, oklch(0.80 0.10 0), oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360));
}

.dark,
:root.dark {
  --color-selection-bar: linear-gradient(to right, oklch(0.70 0.10 0), oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360));
}
